/* @import '~/@glidejs/glide/dist/css/glide.core.min.css'; */

/******************************************
/* GENERAL STYLES
/*******************************************/

:root {
    --primary: #364652;
    --secondary: #f19844;
    --accent: #f5f3ef;
    --bar-width: 60px;
    --bar-height: 8px;
    --hamburger-gap: 10px;
    --animation-timing: 200ms ease-in-out;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* test nav */

nav .navlist .navitem {
    cursor: pointer;
}



body,
.header,
.navlist,
.square,
.inner,
.row,
.testimonial,
.top,
.socials,
.text-item,
.about-us,
.about-blurb,
.employee,
.location-and-hours,
.text-item,
.hamburger-menu {
    display: flex;
}

body {
    flex-direction: column;
    font-family: Cabin, sans-serif;
    font-size: 16px;
}

/* GENERAL SPACING */

.details,
.gallery,
.staff,
.contact-us {
    width: 70vw;
}

/* TEXT AND COLOURS */

header,
footer,
.home-page-link,
.submit {
    background: var(--primary);
}

header a,
footer a,
.phone-number,
.copyright,
h1,
h2,
.name,
.about-name,
.home-page-link,
.submit {
    color: var(--secondary);
}

.carousel-container,
.testimonials,
.about-us,
.detail-text,
.about-details,
.contact-form {
    background: var(--accent);
}

.title,
.contact,
h1,
h2,
.caption,
.title,
.contact {
    font-size: 3rem;
}

header a,
.phone-number,
.email,
.phone {
    font-size: 2rem;
}

footer a,
.review,
.detail-text,
.serviceTable1,
.contact-info,
input,
textarea,
.submit,
label,
.blurb,
.name,
.about-name {
    font-size: 1.5rem;
}

.home-page-link,
.position,
.copyright p {
    font-size: 1rem;
}

/******************************************
/* PAGE-SPECIFIC STYLES
/*******************************************/

/* HEADER */

.header,
.top {
    position: relative;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 1rem auto;
}

.footer {
    margin-bottom: 1rem;
}

header a,
footer a {
    text-decoration: none;
}

header ul a:hover,
footer ul a:hover {
    color: grey;

}

object {
    pointer-events: none;
}

.logo {
    width: 20%;
}

.logo-and-name {
    display: block;
}

.logo-isolated {
    display: none;
}

.nav-toggle {
    display: none;
    cursor: pointer;
    height: min-content;
}

#toggle {
    display: none;
}

#toggle:checked~nav .navlist {
    transform: translateY(0);
}

#toggle:checked~nav .nav-toggle .bar:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

#toggle:checked~nav .nav-toggle .bar:nth-child(2) {
    display: none;
}

#toggle:checked~nav .nav-toggle .bar:nth-child(3) {
    transform: rotate(-45deg);
}

.bar {
    width: var(--bar-width);
    height: var(--bar-height);
    margin-bottom: var(--hamburger-gap);
    background: #fff;
    border-radius: 16px;
    transition: 0.4s;
}

nav ul {
    justify-content: space-between;
}

ul li {
    list-style-type: none;
    margin-right: 5em;
}

ul li:last-child {
    margin-right: 0;
}

/* FOOTER */

.copyright p {
    text-align: center;
    margin: 1rem 0 1rem 0;
}

.social-icon {
    width: 2rem;
    filter: invert(77%) sepia(19%) saturate(6497%) hue-rotate(332deg) brightness(106%) contrast(89%);
    margin-right: 3rem;
}

.socials .social-icon:last-child {
    margin-right: 0;
}

/* HOME PAGE */

.carousel-img {
    width: 100%;
    height: 90vh;
    object-fit: contain;
    display: block;
}

.glide__arrow {
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    color: #364652;
    padding: 2rem;
    border: 2px solid #364652;
}

.carousel-container {
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);
}

h1,
h2 {
    text-align: center;
    padding: 2.5rem;
}

.inner {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.row {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.testimonials {
    padding: 0 0 40px 0;
    color: #434343;
}

.testimonial {
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    border-left: 15px solid #5f5b5b;
    border-radius: 10px;
    box-shadow: 0 2px 6px 0 hsla(0, 0%, 0%, 0.2);

}

.col {
    flex: 30%;
    max-width: 33.33%;
    box-sizing: border-box;
    padding: 30px;
}

.name,
.about-name {
    text-transform: uppercase;
    margin: 20px 0;
    font-weight: 700;
}

.details {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 50%);
    grid-auto-flow: dense;
    margin: 0 auto 2rem auto;
}

.square {
    flex-direction: column;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);

}

.services-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.detail-text {
    padding: 25px;
}

.home-page-link {
    padding: 25px;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
    opacity: 1;
    transition: 0.3s;
    border-top: 1px solid var(--accent);
}


.home-page-link:hover {
    opacity: 0.6;
}

/* SERVICES */

.serviceTable1 {
    width: 40%;
    border-collapse: collapse;
    margin: auto;
    margin: 30px auto 50px auto;
}

.serviceTable1 td {
    padding: 30px;
}

.serviceTable1 tr:hover {
    background: var(--accent);
}

.caption {
    border-bottom: 2px solid;
    padding: 20px;
    margin: auto;
    width: 40%;
}

tr {
    display: flex;
    justify-content: space-between;
}


/* GALLERY */

.gallery {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-flow: dense;
    grid-auto-rows: 500px;

    margin: 2% auto;
}

.gallery-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* alternating gallery template */

.gallery>picture:nth-child(10n + 1),
.gallery>picture:nth-child(10n + 10) {
    grid-area: span 2/span 2;
}

.gallery>picture:nth-child(10n + 8),
.gallery>picture:nth-child(10n + 9) {
    grid-column: 1;
}

.gallery>picture:nth-child(10n + 9) {
    grid-column: 2;
}

.gallery>picture:nth-child(10n + 10) {
    grid-column: 3/ -1;
}

/* ABOUT US */

.about-page {
    flex-direction: column;
}

.about-blurb {
    flex-direction: column;
    justify-content: center;
    padding: 2%;
}

.title,
.contact {
    font-weight: 700;
    padding: 5% 0;
}

.blurb {
    line-height: 2;
}

.about-img img {
    width: 50vw;
    height: 100%;
    display: block;
}

.employee {
    flex-direction: column;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.staff {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    margin: auto;
    margin-bottom: 2rem;
}

.staff-pic {
    width: 100%;
    object-fit: cover;
    flex: 1;
}

.about-details {
    text-align: center;
    border-top: 6px solid;
    padding: 5%;
}

.about-name {
    margin: 0 0 2% 0;
}

/* CONTACT */

.contact-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin: 2% auto;
}

.location-and-hours {
    flex-direction: column;
    gap: 5%;
}

.contact-info {
    text-align: center;
}

.contact {
    padding: 0;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin: auto;
    width: 100%;
    padding: 2rem;
    border-radius: 10px;
}

label,
input,
textarea {
    display: block;
    line-height: 2;
    box-sizing: border-box;
    width: 100%;
    padding: 0.5rem 0.75rem;
}

label {
    padding: 0.5rem 0;
}

.text-item {
    flex-direction: column;
}

form input,
form textarea {
    border: none;
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
}

form input:focus,
form textarea:focus {
    outline: 2px solid var(--primary);
}

form textarea {
    height: 200px;
}

.full-width {
    grid-column: span 2;
}

.submit {
    display: block;
    line-height: 2;
    padding: 0 20px;
    border: none;
    letter-spacing: 2px;
    transition: .2s all ease-in-out;
    border-bottom: 2px solid transparent;
    outline: none;
    margin-top: 2%;
}


.submit:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.map {
    display: block;
    height: 100%;
}

/******************************************
/* MEDIA QUERIES
/*******************************************/
@media screen and (max-width: 1399px) {

    .header,
    .gallery,
    .staff,
    .contact-us,
    .details {
        width: 90%;
    }

    .caption,
    .serviceTable1 {
        width: 100%;
        margin: auto;
        text-align: center;
    }

    .phone-number {
        display: none;
    }

    .logo-and-name {
        display: none;
    }

    .logo-isolated {
        display: block;
    }

    .navlist {
        display: flex;
        flex-direction: column;
        margin: auto;
        position: absolute;
        left: 0;
        top: 4.7rem;
        background: var(--primary);
        width: 100%;
        text-align: center;
        transform: translateY(-150%);
        z-index: -1;
        transition: 0.6s;
    }

    .navitem {
        margin: 0;
        padding: 1rem;
        border-bottom: 1px solid var(--secondary);
    }

    .navitem:last-child {
        border-bottom: none;
    }

    .nav-toggle {
        display: grid;
    }

    .carousel-container {
        display: none;
    }

    .details,
    .gallery,
    .staff {
        grid-template-columns: 1fr;
    }

    .inner,
    .row {
        flex-direction: column;
    }

    .col {
        max-width: 100%;
    }

    .top {
        display: none;
    }

    .gallery,
    .staff {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .staff-pic {
        height: 500px;
        object-fit: cover;
        flex: auto;
    }

    .gallery>picture:nth-child(10n + 1),
    .gallery>picture:nth-child(10n + 10) {
        grid-area: span 1 / span 1;
    }

    .gallery picture:nth-child(n) {
        grid-column: span 1;
    }

    .about-img {
        display: none;
    }

    .map {
        display: none;
    }

    .contact-us {
        grid-template-columns: 1fr;
    }

    .text-item {
        grid-column: span 2;
    }


}

@media (min-width: 1400px) and (max-width: 1719px) {
    .header {
        width: 100%;
    }

}